* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.4;
}

.App {
    margin: 10vw;
}

h1 {
    padding-bottom: 10px;
}

a {
    color: #333;
    text-decoration: none;
}

header {
    background: white;
    color: #333;
    text-align: center;
    padding: 10px;
    padding-bottom: 30px;
}

.link {
    color: #333;
    text-decoration: none;
}

.about-txt {
    text-align: center;
}

.container {
    padding: 0 1rem;
    border-radius: 20%;
}

.add-todo {
    display: flex;
    flex: 10;
    padding: 5px;
    border: 1px solid #a4e8e0;
}

.btn {
    display: inline-block;
    border: #a4e8e0;
    background: #4cd7d0;
    color: #fff;
    padding: 7px 20px;
    cursor: pointer;
}

.btn:hover {
    background: #a4e8e0;
}

.btn-delete {
    background: #4cd7d0;
    color: #fff;
    border: none;
    padding: 5px 9px;
    border-radius: 50%;
    cursor: pointer;
    float: right;
}
